



.navbar-brand b{
    color: #bfffff;
}
.navbar-inverse .navbar-toggle{
    color: white;
    background-color: #1742de;
}

h3{
   text-align: center; 
     color:#1742de;
   
}
h2{
   text-align: center; 
   color:#1742de;
   text-decoration: underline;
}
 h4{
    
    text-align: center; 
      color:#1742de;
}
.aptitud h2{
    color: white;
}
#timeline .timeline-movement {
    border-bottom: dashed 1px #1742de;
    position: relative;
}

.foto{
    position: absolute;
    top: 200px;
    right: 200px;
    border-radius: 50%;
    overflow: hidden;
    
}
.cuali{
    color: #1742de;
    position: absolute;
    bottom: 250px;
    left: 250px;
    
}   
.da-slide p{
    text-align: center;
}


#portfolio {
    background-color: #1742de;
    color: white;
}
.titulo{
    color: white;
    font-size: 25px;
}
.cur p{
    color: #1742de;
    text-align: center;
}
.cur{
    width: 275px;
    height: 200px;
    border: 1px solid #1742de;
    background-color: azure;
    text-align: center;
    margin: 50px;
    padding: 20px;
     
    
}
.cur p{
    font-size: 25px;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.contacto p{
  text-align: center;
    font-weight: bold;
}
.copy{
    font-weight: bold;
}